/* General Styles */
body, html {
    margin: 0;
    height: 100%;
    background-color: #F5F5F5; /* Set background to white */
    overflow: hidden; /* Prevent scrollbar appearance */
}

/* ====================== Title Position ====================== */
.inner-header {
    position: relative;
    display: flex;
    flex-direction: column; /* 垂直堆叠子元素 */
    align-items: center; /* 水平居中 */
    justify-content: center; /* 垂直居中 */
    height: 100vh; /* 使用视窗高度，确保整个容器占满屏幕高度 */
    z-index: 2;
}

.title-brand-container {
    display: flex;
    justify-content: center; /* Flexbox 水平居中对齐 */
    align-items: center; /* Flexbox 垂直居中 */
    gap: 10px; /* 标题和品牌之间的间距 */
}

.introduce-container {
    margin-top: 20px; /* 介绍和标题/品牌容器之间的间距 */
}
/* ====================== Title style ====================== */

.title {
    font-size: 3.5rem; /* 维持原有字体大小 */
    margin-right: 1.5rem;
    margin-top: -18px; /* 向上移动一点点 */
    margin-left: -8px; /* 向左移动一点点 */
    color:  rgb(44, 43, 55); 
    font-family: 'Times New Roman', sans-serif;
    line-height: 1.2; /* 维持原有行高 */
}

.brand-name {
    font-size: 7rem;
    font-family: 'Times New Roman', sans-serif;
    color:  rgb(0, 0, 0); 
    letter-spacing: 0.05em; /* 添加字母间距 */
    text-shadow: 2px 2px 4px rgba(137, 150, 239, 0.5);
}


.introduce {
    font-family: 'Basic', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    line-height: 1.8;
    margin: 1rem 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


/* ====================== Stock Ticker Styles ====================== */
/* Stock Ticker */
/* 这是股票行情滚动条样式 */
    .stock-ticker-wrapper {
        overflow: hidden;
        white-space: nowrap;    
        position: absolute;
        top: 10px; /* Moved to top */
        width: 100%;
        z-index: 3;
        height: 35px;
    }

    .stock-ticker {
        display: inline-block;
        animation: ticker-move 30s linear infinite;
    }

    .stock-ticker-wrapper:hover .stock-ticker {
        animation-play-state: paused;
    }

    .stock-item {
        display: inline-block;
        margin: 0 10px;
        padding: 5px 10px;
        border: 1px solid #ddd;
        border-radius: 20px;
        background-color: #fff;
        font-family: 'Arial', sans-serif;
        font-size: 1em;
        transition: transform 0.3s ease;
        box-shadow: 2px 2px 4px rgba(0.5, 0, 0, 0);
    }

    .stock-up {
        color: #f44336;
    }

    .stock-down {
        color: #4caf50;
    }

    .stock-item:hover {
        transform: scale(0.9);
    }

/* ====================== Waves Styles ====================== */
/* 背景波浪动画样式 */
.waves {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60vh; /* Adjust height if necessary */
    z-index: 1;
}

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
  }

.parallax > use:nth-child(1) {
    fill: #6495ED;
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax > use:nth-child(2) {
    fill: #4169E1;
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax > use:nth-child(3) {
    fill: #1E90FF;
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax > use:nth-child(4) {
    fill: #2323e0;
    animation-delay: -5s;
    animation-duration: 17s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}

@keyframes ticker-move {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%); /* Ensure the items move completely off screen */
    }
}
