/* General Styles */
body, html {
    margin: 0;
    height: 100%;
    background-color: white; /* Set background to white */
    overflow: hidden; /* Prevent scrollbar appearance */
}

/* Header Styles */
.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: #0d0d0d; /* Adjusted text color */
    z-index: 3;
}

.inner-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}


/* Homepage Container */
.homepage-container {
    height: 100vh;
    position: relative;
}

.title-container {
    text-align: center;
}

.title {
    font-family: 'Helvetica', cursive;
    font-size: 5em;
    line-height: 1.5;
    white-space: nowrap;
    
}

/* Stock Ticker Styles */
.stock-ticker-wrapper {
    overflow: hidden;
    white-space: nowrap;    
    position: absolute;
    top: 10px; /* Moved to top */
    width: 100%;
    z-index: 3;
}

.stock-ticker {
    display: inline-block;
    animation: ticker-move 30s linear infinite;
}

.stock-ticker-wrapper:hover .stock-ticker {
    animation-play-state: paused;
}

.stock-item {
    display: inline-block;
    margin: 0 10px;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    font-family: 'Arial', sans-serif;
    font-size: 1em;
    transition: transform 0.3s ease;
}

.stock-up {
    color: #f44336;
}

.stock-down {
    color: #4caf50;
}

.stock-item:hover {
    transform: scale(0.9);
}

/* Waves Styles */
.waves {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55%; /* Adjust height if necessary */
    z-index: 1;
}

.parallax > use {
    animation: move-forever cubic-bezier(.55,.5,.45,.5) infinite;
}

.parallax > use:nth-child(1) {
    fill: #6495ED;
    animation-delay: -2s;
    animation-duration: 7s;
}

.parallax > use:nth-child(2) {
    fill: #4169E1;
    animation-delay: -3s;
    animation-duration: 10s;
}

.parallax > use:nth-child(3) {
    fill: #1E90FF;
    animation-delay: -4s;
    animation-duration: 13s;
}

.parallax > use:nth-child(4) {
    fill: #0000CD;
    animation-delay: -5s;
    animation-duration: 20s;
}



@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}

@keyframes ticker-move {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%); /* Ensure the items move completely off screen */
    }
}
