.stock-form {
    max-width: 300px; /* Reduced max-width for a narrower form */
    margin: 50px 0 0 50px; /* Adjusted margins to align form to the left */
    padding: 20px;
    background-color: #ffffff;
    border-radius: 15px; /* Increased border radius for rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added box shadow for elevation effect */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Added transition for smoother effects */
}

.stock-form:hover {
    transform: translateY(-2px); /* Lift the form slightly on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Enhance box shadow on hover */
}

.stock-form label {
    display: block;
    margin-bottom: 10px; /* Adjusted margin for better spacing */
}

.stock-form input[type="text"],
.stock-form input[type="number"],
.stock-form select,
.stock-form button[type="submit"] {
    width: calc(100% - 40px); /* Adjusted width to account for increased padding */
    padding: 10px; /* Reduced padding for smaller input fields */
    border: 1px solid #ccc;
    border-radius: 8px; /* Increased border radius for rounded corners */
    box-sizing: border-box;
    margin-bottom: 20px;
    transition: all 0.3s ease; /* Added transition for smoother hover effects */
}

.stock-form input[type="text"]:focus,
.stock-form input[type="number"]:focus,
.stock-form select:focus {
    border-color: #007bff;
    outline: none;
}

.stock-form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23007bff" width="18px" height="18px"><path d="M7 10l5 5 5-5H7z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position: right 8px top 50%;
    padding-right: 30px;
}

.stock-form button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 12px 24px; /* Adjusted padding for better spacing */
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold; /* Added font weight for emphasis */
    text-transform: uppercase; /* Changed text to uppercase for consistency */
}

.stock-form button[type="submit"]:hover {
    background-color: #0056b3;
    transform: translateY(-2px); /* Added slight vertical movement on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Added box shadow on hover for elevation effect */
}
