git add .gitignore
git commit -m "Update .gitignore to ignore large files"
git push
myenv/Lib/site-packages/tensorflow/python/_pywrap_tensorflow_internal.pyd
myenv/Lib/site-packages/clang/native/libclang.dll
report/results
report/results
report/results
