/* 基本导航条样式 */
.navbar {
    position: absolute; /* 将导航条固定在页面顶部 */
    left: 0;
    top: 0;
    width: 100%;
    border: 0;
    background: transparent;    
    min-height: 70px;
    font-family: 'Arial', sans-serif;
    box-shadow: 0px 15px 40px -5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 15px 40px -5px rgba(0, 0, 0, 0.1);

}

/* Logo 容器 */
.logo-container {
    position: absolute;
    top: 0;
    left: 1rem;
}

/* Logo样式 */
.logo {
    max-width: 19rem; /* 可调整的最大宽度 */
    height: 6.7rem;
}


/* 导航链接样式 */
.navbar .navbar-nav .active {
    color: #009933 !important;
}

.navbar-collapse .navbar-nav .nav-link {
    text-align: center;
    color: #353434;
    padding: 10px;
    margin: 1rem;
    font-weight: 500;
    letter-spacing: .5px;
}

/* 导航链接下划线样式 */
.line li a {
    position: relative;
}

.line li a:before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #009933;
    height: 1px;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.line li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #009933;
    height: 1px;
    -webkit-transition: all .5s;
    transition: all .5s;
}

.line li a:hover:before,
.line li a:hover:after {
    width: 100%;
}

/* 将导航链接移到右侧 */
.navbar-nav {
    margin-left: auto;
}

/* 调整导航链接样式 */
.navbar-nav .nav-item {
    margin-right: 10px; /* 可根据需要调整间距 */
}
