/* Enhanced overall container styling */
.prediction-container {
    padding: 6px;
    margin: 30px auto;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59); /* Vivid and colorful gradient */
    border-radius: 15px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.3);
    color: #ffffff;
    max-width: 700px;
    text-align: center;
    transition: transform 0.3s ease-in-out; /* Smooth transform on hover */
}

.prediction-container:hover {
    transform: scale(1.03); /* Slight scale up on hover for interactivity */
}

/* More dynamic heading style */
h2 {
    font-family: 'Arial', sans-serif; /* Clean, modern font */
    font-size: 26px; /* Larger font size for better visibility */
    text-shadow: 3px 3px 5px rgba(0,0,0,0.3);
    margin-bottom: 25px;
}

/* General enhancements for results */
.prediction-result {
    font-size: 22px;
    font-weight: bold; /* Bolder weight for emphasis */
    border-radius: 10px;
    padding: 15px 25px;
    display: inline-flex; /* Use flexbox for better alignment */
    align-items: center; /* Vertically align items */
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    animation: fadeIn 2s; /* Smooth fade in effect */
    margin-right: 10px; /* Add space between the text and the button */
}

/* Keyframes for the fadeIn animation */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Specific styles for 'UP' predictions */
.go_up {
    background-color: #4CAF50;
    border: 1px solid #367B37;
    transition: background-color 0.3s ease; /* Smooth background color transition on hover */
    cursor: pointer;
    padding: 10px 20px; /* Adjust padding */
    border-radius: 12px; /* Rounded corners for button */
}

.go_up:hover {
    background-color: #5AD45A; /* Lighter green on hover for visual feedback */
    box-shadow: 0 0 10px #4CAF50; /* Glow effect on hover */
}

/* Specific styles for 'DOWN' predictions */
.go_down {
    background-color: #F44336;
    border: 1px solid #C33525;
    transition: background-color 0.3s ease; /* Smooth background color transition on hover */
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 12px;
}

.go_down:hover {
    background-color: #FF6656; /* Lighter red on hover for visual feedback */
    box-shadow: 0 0 10px #F44336; /* Glow effect on hover */
}
